/* Parallax hidden default override */
.parallax img {
    display: inline-block;
}

/* About me */
.aboutMeRow {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.imgGuy {
    border-radius: 5%;
}

/* Portfolio */
.portfolioRow {
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}


/* Contact */
.contactRow {
    margin-left: 20px;
    margin-right: 20px;
}

.justifyGuy {
    justify-content: center;
}


